body {
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: wrap row;
  justify-content: space-around;
}

.row {
  display: inherit;
  flex-flow: wrap row;
  flex: 100%;
}

.cl {
  display: inherit;
}

.cl-1 { flex: 1;}
.cl-2 { flex: 2;}
.cl-3 { flex: 3;}
.cl-4 { flex: 4;}
.cl-5 { flex: 5;}
.cl-6 { flex: 6;}

.center {
  display: inherit;
  justify-content: center;
}
