@import url("https://use.typekit.net/upa8vfn.css");

@font-face {
    font-family: 'caveatbold';
    src: url('../fonts/caveat/caveat-bold-webfont.woff2') format('woff2'),
         url('../fonts/caveat/caveat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caveatregular';
    src: url('../fonts/caveat/caveat-regular-webfont.woff2') format('woff2'),
         url('../fonts/caveat/caveat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: Mr Eaves XL San OT;
  font-size: 1.1em;
  line-height: 1.3em;
}

h1 {
  font-family: caveatregular;
  color: #ffffff;
  font-size: 2.5em;
}

h3 {
  font-family: caveatregular;
  font-size: 2em;
  color: #331E0B;
}

.landing-page {
  background-color: #331E0B;
  background-image: url('../images/landing-page.jpg');
  background-size: 100vw;
  background-repeat: no-repeat;
  height: auto;
}

/* Note to self: flexbox properties will not be inherited by the child element. You have to reinstate it as display: flex; */
.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  padding-top: 1vw;
}

.landing-page a:hover {
  color: #DD9AE9;
}

.landing-page a:active {
  color: #3E1249;
}

.title h1 {
  margin-top: 15vw;
}

.title p {
  color: #ffffff;
  font-size: 1.5em;
  margin-bottom: 15vw;
}

.me-img {
  display: inherit;
  align-items: center;
}

.button {
  width: 25vw;
  height: 60px;
  margin-top: 3em;

  display: inherit;
  justify-content: center;
  align-items: center;

  background-color: #3E1249;
  border-radius: 4px;

  text-decoration: none;
  color: #ffffff;
  font-family: caveatregular;
  font-size: 1.5em;
}

.button:hover{
  background-color: #AA70B9;
}

/* WTF am I doing*/
.checklist-img {
  display: inherit;
  flex-direction: column;
  align-items: flex-end;
}

.checklist-img img {
  width: 21px;
  height: 21px;
  margin-top: 18px;
  margin-right: 10px;
}

.checklist p {
  display: inherit;
  justify-content: flex-end;
}

.footer {
  display: inherit;
  justify-content: center;

  margin-top: 50px;
  margin-bottom: 50px;
}

.footer a {
  margin-left: 12px;
  margin-right: 12px;
}
