@import url("https://use.typekit.net/upa8vfn.css");

@font-face {
    font-family: 'caveatbold';
    src: url('../fonts/caveat/caveat-bold-webfont.woff2') format('woff2'),
         url('../fonts/caveat/caveat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caveatregular';
    src: url('../fonts/caveat/caveat-regular-webfont.woff2') format('woff2'),
         url('../fonts/caveat/caveat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: Mr Eaves XL San OT;
  font-size: 1.1em;
  line-height: 1.3em;
}

h1 {
  font-family: caveatregular;
  color: #ffffff;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
  color: #331E0B;
}


/* General Stylings*/

/* Note to self: flexbox properties will not be inherited by the child element. You have to reinstate it as display: flex; */
.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
  font-size: 1.2em;
  padding-top: 1vw;
  color: #282828;
}

.navigation a:hover {
  color: #DD9AE9;
}

.navigation a:active {
  color: #3E1249;
}

form {
  margin-top: 75px;
  flex-direction: column;
  align-items: flex-end;
}

input {
  width: 30vw;
  height: 30px;
  border-radius: 4px;
  border-style: solid;
  border-color: #E5E5E5;
  border-width: 2px;
  padding: 5px;
  margin: 10px;
}

textarea {
  width: 30vw;
  height: 100px;
  border-radius: 4px;
  border-style: solid;
  border-color: #E5E5E5;
  border-width: 2px;
  padding: 5px;
  margin: 10px;
}

.button {
  width: 25vw;
  height: 60px;
  margin-top: 3em;

  display: inherit;
  justify-content: center;
  align-items: center;

  background-color: #3E1249;
  border-radius: 6px;

  text-decoration: none;
  color: #ffffff;
  font-family: caveatregular;
  font-size: 1.5em;
}

.button:hover {
  background-color: #AA70B9;
}

.footer {
  display: inherit;
  justify-content: center;

  margin-top: 50px;
  margin-bottom: 50px;
}

.footer a {
  margin-left: 12px;
  margin-right: 12px;
}

/* Home Page Styles */

.home-page .navigation a {
  color: #ffffff;
}

.home-page .navigation a:hover {
  color: #DD9AE9;
}

.home-page .navigation a:active {
  color: #3E1249;
}

.home-page .header {
  background-color: #331E0B;
  background-image: url('../images/landing-page.jpg');
  background-size: 100vw;
  background-repeat: no-repeat;
  height: auto;
}

.home-page .title h1 {
  margin-top: 15vw;
}

.home-page .title p {
  color: #ffffff;
  font-size: 1.5em;
  margin-bottom: 15vw;
}

.home-page {
  background-image: url('../images/coffee-stain-home.png');
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-attachment: fixed;
}

.me-img {
  display: inherit;
  align-items: center;
}

#skills {
  margin-top: 50px;
}

#skills img {
  margin-top: 50px;
}

.plans {
  margin-top: 25px;
}

/* WTF am I doing*/
.checklist-img {
  display: inherit;
  flex-direction: column;
  align-items: flex-end;
}

.checklist-img img {
  width: 21px;
  height: 21px;
  margin-top: 18px;
  margin-right: 10px;
}

.checklist p {
  display: inherit;
  justify-content: flex-end;
}

/* Contact Me Styles */
.contact-me-page {
  background-image: url('../images/coffee-stain-home.png');
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-attachment: fixed;
}

.contact-me-page .title h1 {
  font-family: Mr Eaves XL San OT;
  color: #282828;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: normal;

  margin-top: 75px;
}

.contact-me-page .button {
  margin-top: 30px;
}

/* Error Page Specific Styels */

.page-not-found .title h1 {
  font-family: Mr Eaves XL San OT;
  color: #8E4C12;
  font-weight: bolder;
  font-size: 4em;

  margin-top: 75px;
}

.page-not-found .title p {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: lighter;
}

.justify-right {
  justify-content: flex-start;
}

.justify-right .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-not-found .footer {
  margin-top: 80px;
}

.page-not-found {
  background-image: url('../images/coffee-stain-404.png');
  background-repeat: no-repeat;
  background-position: right center;
}
